/* ForgetPassword.css */

.forgot-password-page {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding-left: 13%;
  padding-top: 5%;
  padding-bottom: 5%;

  justify-content: left;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/Bannerbg.jpg");
}

.overlay {
  position: absolute;
  inset: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.forgot-password-container {
  position: relative;
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
}
.forgot-password-container .title {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 1rem;

  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.input-group input {
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
  padding: 0.6rem;
  line-height: 0;
  border: 1px solid #d1d5db; /* Gray 300 */
  color: #4b5563; /* Gray 700 */
}

.input-group input:focus {
  border-color: #3182ce;
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
}

.error-message,
.success-message {
  font-size: 0.875rem;
  color: #e53e3e;
  margin-top: 0.5rem;
}

.success-message {
  color: #38a169;
}

.button-group button {
  background-color: rgba(153, 37, 37, 1);
  color: #fff;
  padding: 1rem 1rem;
  margin-top: 0.8rem;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.button-group button:active {
  background-color: #4caf50; /* Green */
  color: white;
}

.button-group button:hover {
  background-color: #b91c1c;
}

.signup-link p {
  margin-top: 0.8rem;
  text-align: left;
  color: rgba(0, 0, 0, 1); /* Gray 700 */
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.signup-now {
  color: rgba(153, 37, 37, 1);
  text-decoration: none;
  margin-top: 1rem;

  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

@media (max-width: 520px) {
  .forgot-password-page {
    padding: 5%;
    margin: auto;
  }

  .forgot-password-container {
    box-sizing: border-box;
    padding: 5%;
  }
}

.otp-form {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp-inputs {
  display: flex;
  gap: 15px;
}

.otp-box {
  width: 20px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid gray;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.otp-box:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.otp-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

.resend-otp {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
