/* Global Styles */

.register-container {
  display: flex;
  align-items: center;
  padding-left: 13%;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 85vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: url("../assets/images/Bannerbg.jpg");
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.register-box {
  background-color: #ffffff;
  padding-inline: 1rem;
  padding-top: 0%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 600px;
  box-sizing: border-box;
}

.signup-prompt {
  margin-top: 0.4rem;
  text-align: left;
  color: rgba(0, 0, 0, 1); /* Gray 700 */
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.register-title {
  margin-bottom: 0.2rem;
}

.subtitle {
  text-align: left;
  font-size: 1.75rem;
  font-family: "Lustria", serif;
  font-weight: 400;
  margin: 0.2rem;
  color: "rgba(0, 0, 0, 1)";
}

/* Form Styles */
.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

label {
  margin-bottom: 0.3rem;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.input-field {
  padding: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;

  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.password-field {
  position: relative;
}

.password-field .icon {
  position: absolute;
  top: 1.3rem;
  right: 0.75rem;
  color: #333231; /* Gray 500 */
}

.select-field {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

/* Button Styles */
.submit-btn {
  background-color: rgba(153, 37, 37, 1);
  color: #fff;
  padding: 1rem 1rem;
  margin-top: 0.8rem;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;

  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #991c1c;
}

/* Link Styles */
.link {
  color: rgba(153, 37, 37, 1);
  text-decoration: none;
  margin-top: 1rem;

  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Adjust layout for tablets and smaller screens */
  .register-container {
    padding: 2rem;
    justify-content: center;
  }

  .register-title {
    font-size: 1.8rem;
  }

  .submit-btn {
    padding: 1rem;
    font-size: 1.1rem;
  }

  .text-left {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  /* Adjust layout for mobile screens */
  .register-container {
    padding-top: 3rem;
    padding-bottom: 2rem;
    justify-content: center;
    width: 100%;
    padding-inline: 0rem;
  }
  .register-title {
    font-size: 1.5rem;
  }

  .form-group {
    grid-template-columns: 1fr; /* Stack the form fields */
  }

  .input-field,
  .select-field {
    font-size: 0.9rem;
  }

  .submit-btn {
    padding: 0.75rem;
    font-size: 1rem;
  }

  .text-left p {
    font-size: 0.9rem;
  }
}
