.textSm {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.imgSize {
  overflow: hidden;
}

@media (max-width: 575px) {
  .imgSize {
    width: auto;
    height: 12rem;
    margin: auto;
  }
  .textsm {
    font-size: 0.9rem;
    line-height: 1.2;
    text-align: center;
  }
}

@media (max-width: 440px) {
  .imgSize {
    width: auto;
    height: 10rem;
    margin: auto;
    background-color: transparent;
  }
  .textsm {
    font-size: 0.85rem;
    line-height: 1.2;
    text-align: center;
  }
}
