/* General Styles */

.feature-container {
  /* max-width: 1200px; */
  margin: auto;
  width: 75%;
  margin-top: 1rem;
  padding: 6rem 2rem;
  box-sizing: border-box;
}

/* Features Section */
.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.features-grid .icon {
  font-size: 5.5rem; /* 40px */
  color: #b91c1c; /* Red 700 */
  margin-bottom: 1rem;
}

.features-grid div {
  font-size: 1rem; /* 20px */
  margin-bottom: 0.5rem;
  font-family: "Playfair Display", serif;
}

.features-grid p {
  font-size: 0.9rem; /* 14.4px */
  color: rgb(23, 23, 23); /* Gray 700 */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Roboto Flex", sans-serif;
}

/* Responsive Grid Layout */
@media (max-width: 768px) {
  .feature-container {
    margin-inline: 0px;
    width: 90%;
    margin-inline: auto;
    box-sizing: border-box;
  }

  .features-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* VVIP Section */
.vip-section {
  background-color: #fef3c7; /* Yellow 100 */
  padding: 2rem;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  padding: 2rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

.vip-section::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #fcd34d; /* Yellow 300 */
  border-radius: 0.5rem;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  z-index: 0;
}

.vip-section h2 {
  font-size: 3rem; /* 30px */
  /* font-weight: bold; */
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.vip-section p {
  font-size: 1.2rem; /* 14.4px */
  margin-bottom: 1rem;
}

.vip-section button {
  background-color: #991c1c; /* Red 700 */
  color: white;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 1rem; /* 16px */
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.vip-section button:hover {
  background-color: #991b1b; /* Darker Red */
}

/* Responsive Adjustments */
@media (max-width: 780px) {
  .vip-section {
    padding: 3rem 2rem;
    flex-direction: column;
    margin: 0%;
    box-sizing: border-box;
    border-radius: 0;
  }

  .vip-section h2 {
    font-size: 1.2rem; /* 24px */
  }

  .vip-section p {
    font-size: 0.9rem; /* 13.6px */
  }

  .vip-section button {
    padding: 0.55rem 1rem;
  }
}
