/* General Styles */

.feature-container {
  margin: auto;
<<<<<<< HEAD
  max-width: 1125px;
  margin-top: 1rem;
  padding: 3rem 2rem;
=======
  max-width: 1400px;
  margin-top: 1rem;
  padding: 3rem 1rem;
>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
  box-sizing: border-box;
}

/* Features Section */
.features-grid {
  display: grid;
<<<<<<< HEAD
  grid-template-columns: 1fr;
  gap: 2rem;
=======
  /* grid-template-columns: 1fr; */
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
  text-align: center;
}

.features-grid .icon {
  font-size: 60px;
  color: rgba(153, 37, 37, 1);
  margin-bottom: 1rem;
}

.features-grid div {
  font-size: 1.25rem;
  font-family: "Lustria", serif;
  font-weight: 400;
<<<<<<< HEAD
  margin-bottom: 0.5rem;
=======
  margin-bottom: 1rem;
>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
}

.features-grid p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 1024) {
  .feature-container {
<<<<<<< HEAD
    width: 80%;
=======
    width: 60%;
>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
    padding: 1px 2px;
  }
}

<<<<<<< HEAD
@media (min-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(4, 1fr);
=======
@media (max-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
  }
}
/* Responsive Grid Layout */
@media (max-width: 768px) {
  .feature-container {
    margin-inline: 0px;
    width: 80%;
    margin-inline: auto;
    box-sizing: border-box;
  }

  .features-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* VVIP Section */
.vip-section {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  width: 90%;
  margin-inline: auto;
  box-sizing: border-box;
  padding: 7vw;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/vvipsectionbg.jpg");
  background-position: center;
  background-size: contain;
=======
  max-width: 1400px;
  box-sizing: border-box;
  margin-inline: auto;
  padding: 100px;
  max-height: 328px;
  background-repeat: no-repeat;
  /* background-image: url("../../assets/images/vvipsectionbg.jpg"); */
  background-color: transparent;

  background-position: center;
  background-size: contain;

  position: relative;
  bottom: 10px;
}

.box {
  padding-inline: 10px;
  border: 2px solid rgba(255, 210, 64, 1);
>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
}

.vip-section img {
  max-width: 100%;
  height: auto;
}

.vip-section div {
  text-align: left;
}

.vip-section h2 {
  font-size: 3.125rem;
  font-family: "Lustria", serif;
  font-weight: 400;
<<<<<<< HEAD
  padding: 0rem 8vw;
=======
  padding: 0rem;
  padding-inline: 60px;
>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
  margin-bottom: 1rem;
}

.vip-section p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  text-align: start;
}

.vip-section button {
  background-color: rgba(153, 37, 37, 1);
  color: white;
  padding: 0.5rem 1.5rem;
<<<<<<< HEAD
=======
  margin-top: 10px;
>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
  font-weight: bold;
  cursor: pointer;
  border: none;
  font-size: 14px; /* 16px */
  font-family: "Now", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.vip-section button:hover {
  background-color: #991b1b;
}

/* Add media queries for fine control */
<<<<<<< HEAD
@media (max-width: 1235px) {
  .vip-section {
    padding: 7vw;
    width: 100%;
    margin-inline: auto;
  }
  .vip-section h2 {
    font-size: 3.5vw;
    margin-bottom: 0%;
  }

  .vip-section p {
    font-size: 1.5vw;
=======
@media (max-width: 1200px) {
  .box {
    padding-inline: 8px;
    /* bottom: 4px; */
    border: 1px solid rgba(255, 210, 64, 1);
  }
  .vip-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-inline: 40px;
    width: 100%;
    margin-inline: auto;
    min-height: 280px;
    bottom: 8px;
  }
  .vip-section h2 {
    font-size: 2.75rem;
    margin-bottom: 0%;
    text-align: left;
    padding-right: 50px;
  }

  .vip-section p {
    font-size: 1rem;
>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
    margin-bottom: 0%;
  }
}

<<<<<<< HEAD
@media (max-width: 768px) {
  .vip-section {
    flex-direction: row;
    align-items: center;
  }

  .vip-section div {
    text-align: center;
  }

  .vip-section h2 {
    font-size: 3.5vw;
  }

  .vip-section p {
    padding-inline: 2vw;
    font-size: 1.5vw;
  }

  .vip-section button {
    padding: 0.55rem 1rem;
    font-size: 1vw;
    font-family: "Now", sans-serif;
    font-weight: 500;
  }
}

@media (max-width: 576px) {
  .vip-section {
    padding: 4vw;
    flex-direction: column;
  }
  .vip-section h2 {
    font-size: 3.5vw;
=======
@media (max-width: 992px) {
  .vip-section h2 {
    font-size: 2.5rem;
  }
  .vip-section h2 {
    min-width: 260px;
  }
}

@media (max-width: 768px) {
  .box {
    padding-inline: 5px;

    border: 2px solid rgba(255, 210, 64, 1);
  }
  .vip-section {
    padding: 35px;
    flex-direction: column;
    min-height: fit-content;
    text-align: center;
    bottom: 5px;
  }
  .vip-section h2 {
    text-align: center;
    font-size: 3.5vw;
    margin-bottom: 8px;
    padding: auto;
>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
  }

  .vip-section p {
    padding-inline: 5vw;
    font-size: 1.75vw;
<<<<<<< HEAD
  }

  .vip-section button {
    padding: 0.3rem 0.7rem;
    font-size: 1.2vw;
=======
    margin-bottom: 8px;
  }
  .vip-section div {
    text-align: center;
  }

  .vip-section button {
    padding: 0.5rem 1rem;
    font-size: 1.3vw;
  }
}

@media (max-width: 440px) {
  .box {
    padding-inline: 4px;
    border: 2px solid rgba(255, 210, 64, 1);
  }
  .vip-section {
    padding: 20px;
    text-align: center;
    bottom: 4px;
  }
  .vip-section h2 {
    text-align: center;
    font-size: 4.5vw;
    margin-bottom: 8px;
  }

  .vip-section p {
    padding-inline: 5vw;
    font-size: 2.5vw;
    margin-bottom: 8px;
  }

  .vip-section button {
    padding: 0.6rem 1.2rem;
    font-size: 2vw;
>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
  }
}
