.footer-top {
  background-color: rgba(102, 37, 37, 1);
}

.footer-top .footer-design {
  padding: 1.5rem;
  background-image: url("../../assets/images/footerLayout.png");
}

.footer-about img {
  height: 4.5rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  color: white;
  height: fit-content;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.footer-about {
  width: 40%;
}
.footer-links,
.footer-legal {
  width: 50%;
}

.footer-description {
  margin-top: 1rem;
  font-size: 18px;
  line-height: 2;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-top: 3rem;
}

.footer-socials {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
}

.footer-icon {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #ffdd00; /* Yellow */
}

.footer-heading {
  font-size: 24px;
  font-family: "Lustria", serif;
  font-weight: 400;
  line-height: 1.2;

  margin-bottom: 1.5rem;
}

.footer-links ul,
.footer-legal ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li,
.footer-legal ul li {
  margin-bottom: 0.5rem;

  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.footer-links a,
.footer-legal a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-legal a:hover {
  color: #ffdd00;
}

/* Footer Bottom Section */
.footer-bottom {
  background-color: white;
  text-align: center;
  color: black;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 2;
  margin: 0%;
}

@media (max-width: 1040px) {
  .footer-container {
    width: 90%;
  }
}

@media (max-width: 640px) {
  .footer-container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 2rem;
    flex-direction: column;
  }
  .footer-about,
  .footer-links,
  .footer-legal {
    width: 100%;
    box-sizing: border-box;
  }
  .footer-about img {
    height: 3rem;
  }

  .footer-description {
    margin-top: 0.5rem;
    font-size: 0.9rem;
      line-height: 2;
  }

  .footer-heading {
    margin-top: 1.5rem;
    font-size: 1.3rem;
  }
  .footer-links ul li,
  .footer-legal ul li {
    font-size: 1rem;
    line-height: 1.2;
  }
  .footer-bottom {
    font-size: 10px;
    line-height: 2;
  }
}
