.background {
  background-image: url("../../assets/images/Testimonialbg.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.contentContainer {
  text-align: left;
  color: white;
  max-width: 75%; /* 640px */
}

.privacylogo {
  /* height: 8rem; */
  width: 8rem;
}

.badge {
  display: flex;
  color: black;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
}

.heading {
  font-size: 3.125rem;
  font-family: "Lustria", serif;
  font-weight: 400;

  margin-left: 2rem;
  color: white;
}

.paragraph {
  margin-bottom: 1.5rem;
  line-height: 1.25rem;
  width: 60%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

.ctaButton {
  margin-top: 1.5rem; /* 24px = 1.5rem */
  background-color: rgba(153, 37, 37, 1);
  color: white;
  padding: 1rem 1rem;

  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
}

.ctaButton:hover {
  background-color: #a50e0e;
}

@media (max-width: 670px) {
 .background {
    /* height: 120vh; */
    height: fit-content;
  }
  .contentContainer {
    text-align: left;
    width: 100%;
    padding: 5%;
  }
  .heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0;
  }
  .badge {
    flex-direction: column;
    padding: 0%;
  }
  .privacylogo {
    width: 6rem;
  }
  .paragraph {
    width: 80%;
  }

  .ctaButton {
    padding: 0.55rem 1rem;
  }
}
