.flexContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 75%;
  align-items: center;
  gap: 2rem;
  /* flex-wrap: wrap; */
  margin: auto;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.heading {
  font-size: 3.125rem;
  font-family: "Lustria", serif;
  font-weight: 400;

  margin-bottom: 0rem;
  margin-top: 0rem;
  line-height: 1.5;
  text-align: center;
}

.quoteAuthor {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #b23b3b;
}

.imageContainer {
  position: relative;
  width: 30rem;
}

.image {
  border-radius: 50%;
  border: 0.1rem solid white;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0.4rem;
}

.navIcons {
  position: absolute;
  top: 60%;
  width: 99%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #5a5a5a;
}
.quoteStyle {
  border-radius: 50%;
  border: 1px solid #b23b3b;
}

.quoteContainer {
  width: 43rem;
  height: 43rem;
  background-color: #f5e8d7;
  border-radius: 50%;
  padding: 2rem;
  position: relative;
  bottom: 0.6rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quoteIcon {
  /* position: absolute; */
  align-items: center;
  /* top: 1rem;
  left: 1rem; */
  font-size: 2rem;
  color: #b23b3b;
}

.quoteText {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-family: "Lustria", serif;
  font-weight: 400;
  line-height: 1.5;
  color: #5a5a5a;
}

@media (max-width: 1700px) {
  .flexContainer {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .quoteContainer {
    width: 60vw;
    height: 60vw;
    padding: 1rem;
  }
  .quoteText {
    font-size: 2vw;
    line-height: 1;
  }
}

@media (max-width: 440px) {
  .flexContainer {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .imageContainer {
    width: 70vw;
  }

  .image {
    width: 70vw;
    height: 70vw;
  }
  .quoteContainer {
    width: 90vw;
    height: 90vw;
    padding: 2vw;
    box-sizing: border-box;
  }
  .quoteText {
    font-size: 3vw;
    line-height: 1;
  }
}
