.profileImage {
  position: relative;
}
.profileImage .badge {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: red;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
}
.sectionTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
