.appContainer {
  width: 49%;
  height: fit-content;
  /* margin-left: 1rem; */
  margin-top: 1rem;
  background-color: white;

  padding: 1.5rem;
  height: auto;
  margin-top: 1rem;
}

.detailsHeader {
  border-bottom: 1px solid #a6a7a9;
  color: black;
  /* font-style: bold; */
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: left;
  font-family: "Roboto", sans-serif;
}

.headerTitle {
  font-style: bold;
  font-family: serif;
  margin: 0%;
}

.details {
  margin-top: 1rem;
}

.detailItem {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.label {
  min-width: 40%;
  color: gray;
  font-size: 0.9rem;
}

.value {
  min-width: 60%;
  padding-left: 2%;
  font-size: 0.95rem;
  font-weight: bold;
  color: black;
  box-sizing: border-box;
}
.textXs {
  font-size: 0.95rem;
  font-weight: 600;
  color: black;
}

.textsmValue {
  font-size: 0.9rem;
  font-weight: bold;
}

.textSm {
  font-size: 0.9rem;
}

@media (max-width: 680px) {
  .appContainer {
    width: 100%;
    margin-inline: 0;
    padding: 2%;
  }
}
