/* General Header Styles */
.minhScreen {
  background-color: #e3d4ca;
  /* background-image: url("../../../assets/images/headerbg.png");
  background-size: cover; */
}

.navHeader {
  background-color: #991c1c;
  color: white;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

.navHeader .title {
  margin-left: 3.5rem;
}

.navHeader .title img {
  width: 60%;
  margin-top: 0.5rem;
}

.navigation {
  position: relative;
}

.navLinks {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

.navLinks li {
  font-weight: 400;
  font-size: 1rem;
  margin-right: 1rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
}

.navLinks a:hover {
  text-decoration: underline;
}

/* Dropdown menu icon */
.menuIcon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
/* Header Section */
.Container {
  width: 75%;
  padding-top: 9vh;
  margin-inline: auto;
}

@media (max-width: 1200px) {
  .Container {
    width: 90%;
    padding-inline: 0%;
  }
}

@media (max-width: 995px) {
  .Container {
    width: 100%;
    padding-inline: 0%;
    margin: 0%;
  }
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
    top: 100%;
    right: 0rem;
    width: 6rem;
    z-index: 15;
    padding: 0.2rem 0;
    border-top: 2px solid #fff;
    align-items: left;
  }

  .navLinks.open {
    display: flex;
  }

  .navLinks li {
    text-align: left;
    margin: 0 0.1rem;
    padding-inline: 0.1rem;
    width: auto;
  }

  .menuIcon {
    display: block;
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
}

.profileHeader {
  /* background-color: #fdd835; */
  background-image: url(../../../assets/images/bgHeader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  position: relative;
}

.profileHeader img {
  border-radius: 50%;
  border: 4px solid white;
  position: relative;
  width: 15vh;
  height: 15vh;
  top: 3vh;
  left: 5%;
}

/* Profile Details Section */
.profileDetails {
  background-color: white;
  padding-inline: 1.5rem;
  box-sizing: border-box;
}

.profileDetails .infoHeader .info {
  margin-left: 0;
}
.profileDetails .infoHeader .info h3 {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.profileDetails .infoHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 3%;
  padding-top: 2vh;
  padding-bottom: 1.5rem;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 760px) {
  .profileDetails .infoHeader {
    padding-top: 10vh;
    margin-left: 0;
  }
}

.profileDetails .infoHeader .textSm {
  font-size: 1rem;
  color: rgb(101, 101, 101);
}

.profileDetails .infoHeader div {
  text-align: left;
}

.profileDetails .infoHeader h1 {
  font-size: 2rem;
  font-weight: bold;
}

.profileDetails .textRight {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.profileDetails .infoHeader .text-right div {
  text-align: left;
  width: 12rem;
}

.sidebar {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin-top: 0.3vw;
}
.sidebar ul {
  display: flex;
  list-style: none;
  margin: 0%;
  padding: 0%;
  font-family: "Rubik", sans-serif;
}

.sidebar ul li {
  width: fit-content;
  padding: 0.7rem 1rem;
  margin: auto;
  text-align: center;
  color: #333;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.sidebar ul li.active {
  color: #faf7f7;
  background-color: #832828; /* Same as hover effect */
}

.sidebar ul li.active:hover {
  background-color: #832828;
  color: #faf7f7;
}

/* Sidebar Section */
.content {
  background-color: #e3d4ca;
  margin-top: 0.3vw;
}
@media (max-width: 768px) {
  .content {
    margin: 0;
  }
}

/* Main Content Section */
.mainContent {
  padding-bottom: 0%;
  /* background-color: white; */
  background-color: #e3d4ca;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 630px) {
  .mainContent {
    width: 100%;
  }
  .mainContent .basicDetails {
    padding-left: 0;
  }
  .navHeader .title {
    margin-left: 1.5rem;
  }
}

.mainContent .basicDetails {
  width: 100%;
  padding-left: 1rem;
}

.mainContent .basicDetails .edit {
  color: #6b7280;
  cursor: pointer;
}

.mainContent .menuIcon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.mainContent .menuIcon div {
  font-size: 0.875rem;
  color: #4b5563;
}

.mainContent .menuIcon .textLg {
  font-size: 1.125rem;
}

.mainContent .menuIcon .textSm {
  font-size: 1.12rem;
  color: black;
}

@media (max-width: 630px) {
  .mainContent .menuIcon .textLg {
    font-size: 0.9rem;
  }

  .mainContent .menuIcon .textSm {
    font-size: 0.9rem;
    color: black;
  }
}
