/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin-top: 0.3vw;
}

.sidebar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.sidebar ul li {
  padding: 0.7rem 1rem;
  text-align: center;
  color: #333;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 16.66%;
}

.sidebar ul li.active,
.menu li.active {
  background-color: #832828;
  color: #faf7f7;
}

.dropdown-toggle {
  display: none;
  padding: 0.5rem;
  background-color: white;
  cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: #991c1c;
  color: white;
}

.menu {
  flex-direction: row;
}

.menu.show {
  display: flex;
  flex-direction: column;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar ul {
    display: none;
  }

  .dropdown-toggle {
    display: block;
  }

  .menu {
    display: none;
    list-style: none;
    flex-direction: column;
    background-color: white;
  }

  .sidebar ul li {
    padding: 0.4rem 0.5rem;
    width: fit-content;
    font-size: 0.8rem;
  }
}
