/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar {
  font-family: "Roboto", sans-serif;
  /* background-color: white; */
  margin-top: 0.3vw;
  margin-bottom: 0.3rem;
}

.sidebar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  background-color: white;
}

.sidebar ul li {
  padding: 0.6rem 0.1rem;
  width: 14rem;
  text-align: center;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;

  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.sidebar ul li.active,
.menu li.active {
  background-color: #991c1c;
  color: white;
}

.dropdown-toggle {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;

  background-color: #991c1c;
  color: white;
}

.menu {
  flex-direction: row;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar ul {
    display: none;
  }

  .dropdown-toggle {
    display: block;
    text-align: end;
  }

  .menu {
    right: 0%;
    display: none;
    list-style: none;
    flex-direction: column;
    z-index: 20;
  }

  .menu.show {
    position: absolute;
    right: 0%;
    /* top: -0.2rem; */

    border-top: 2px solid white;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 12rem;
  }

  .sidebar ul li {
    padding: 0.6rem 0.5rem;
    color: white;
    width: 12rem;
    background-color: #991c1c;

    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 2;
  }
  .sidebar ul li.active,
  .menu li.active {
    background-color: white;
    color: black;
  }
}
