* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

body {
  font-size: 16px;
}
<<<<<<< HEAD
=======

>>>>>>> 97ede3914175742e3e2e83c8205bfe6b386e310b
/* 
@media (max-width: 900px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 780px) {
  body {
    font-size: 12px; 
}}
  
   */
